body{
  text-align: center;
}

.content {
  margin: 50px auto;
  text-align: center;
  max-width: 700px;
}
.annotation {
  padding: 20px;
  margin: 20px;
}
p.text {
  font-weight: bold;
}
div#quote1,
div#quote2,
div#quote3,
div#quote4,
div#quote5 {
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  border: 3px double rgb(204, 204, 204);
  border-radius: 10px;
  display: none;
}
a#twit-button {
  display: none;
}
a#getQuote{
  color: #eee;
}

